.carousel-item img {
  width: 50px;
  margin: auto;
}

.fa-basket-shopping {
  margin-left: 25px;
  font-size: 25px;
  margin-top: 5px;
}
.productoEnCarrito {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
#productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
}

.card {
  margin-bottom: 30px;
}

.card-body .btn-estilo {
  margin: 0;
  display: block;
  background-color: #f77e21;
}

.card-body .btn-estilo:hover {
  background-color: #fac213;
}

.seleccion {
  margin: 30px 0 30px 120px;
  width: 70%;
}
.buscar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 70%;
  align-content: space-between;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.w-30 {
  width: 25% !important;
}
.d-md-block {
  background-color: #9c196595;
}

@media (max-width: 768px) {
  .d-md-block {
    background-color: #00000095;
    display: block !important;
    width: 50%;
    margin: auto;
  }
  .w-30 {
    width: 50% !important;
  }
}

@media (max-width: 768px) {
  .seleccion {
    width: 90%;
    margin: auto;
  }
  .buscar {
    width: 90%;
    margin: auto;
  }
}
